<div class="header">
	<div class="container">
		<div class="col-md-10">
			<ul>
				<li><a href="#">Welcome</a></li>
				<li><a href="#">Portfolio</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="col-md-2">
			<ul>
				<li>Kevin Tsai</li>
			</ul>
		</div>			
	</div>
</div>

<div class="main">
	<div class="jumbotron">
		<div class="container">
			<h2>
				Hello. My name is 
				<span class="highlight">Kevin Tsai</span>
				 and <br> I love building websites.
			</h2>
			<a class="btn pull-right" href="portfolio">View my Work</a>
		</div>
	</div>
</div> 
