
<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<h2>
				Hello. My name is 
				<span class="highlight">Kevin Tsai</span>
				 and <br> I love building websites.
			</h2>
			<a class="btn pull-right" href="portfolio">View my Work</a>
		</div>
	</div>
</div> 
